<header class="fixed-top">
   
    <!-- besoin d'un élément dans le DOM qui soit cliquable -->
    <span (click)="toggle()">
        <ng-content
        *ngIf="open; else elseBlock"
        select=".tr-icon-close"
        ></ng-content>

        <ng-template #elseBlock>
            <ng-content select=".tr-icon-nav">
            </ng-content>
        </ng-template>
    </span>
        
    <!-- structure avec ngIf, then, else -->
    <!-- ici on a deux ng-template -->
    <!-- on peut utilise une DIV ou ng-container -->
    <!-- <div *ngIf="open; then thenBlock; else elseBlock" select=".tr-icon-close">
    </div> -->


    <ng-content select=".tr-header"></ng-content>

</header>
<main [ngClass]="{'close-aside': !open}">
    
    <div class="shadow position-fixed">

    </div>
 
    <aside>
        <div class="scroller">

            <ng-content select=".tr-nav"></ng-content>
    


        </div>
    </aside>

    <div class="page">

        <div class="contents">

            <ng-content select=".tr-content"></ng-content>
        </div>
        
        <footer>
            
            
            <ng-content select=".tr-footer"></ng-content>
        </footer>

    </div>

</main>

