<app-template-full-width [propEnfant]="propParent" *ngIf="collection$ | async as collection">
    <!-- modifier la valeur de propParent -->
    <button (click)="onChangeTitle()">Changer le titre</button>

    <!--ici collection : {{collection | json}}-->

    <!-- ici contenu de cette page est projeté
    à la place de ng-content -->
    <!-- <h1>contenu page-list-orders</h1> -->
    <app-table-light [headers]="headers">
        <tr *ngFor="let item of collection">
            <th scope="row">{{item.id}}</th>
            <!--  table data cells (td)-->
            <td>
              <app-icon-edit (click)="goToEdit(item)"></app-icon-edit>
              <app-icon-delete (click)="deleteItem(item)"></app-icon-delete>

            </td>
            <td>{{item.client | uppercase }}</td>
            <td>{{item.nbJours}}</td>
            <td>{{item.tjmHt | currency}}</td>
            <!-- valeur de return du Pipe -->
            <td>{{ item | total | currency }}</td>
            <td>{{ item| total : true }}</td>
            <td [ngClass]="'state-' + item.state.toLowerCase()">
              <select (change)="changeState(item, $event)">
                <option *ngFor="let state of states" [value]="state" [selected]="item.state === state">{{state}}</option>
              </select>
            </td>
        </tr>
    </app-table-light>

    <app-btn label="Ajouter" route="add"></app-btn>

</app-template-full-width>

